{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

    <title>{{user}}</title>
</head>
<body>
    <div class = 'navbar'>
        <a href = "">{{user}}</a>
        <a id = 'logout' href = "{% url 'logout' %}">Logout</a>
    </div>
    <div class = 'main-container'>
        <div class = 'add-pass'>
            <h2 class = 'title'>Add New Password Block</h2>
            <form method = 'POST'>
                {% csrf_token %}
                <label for = 'platform'>Platform Name</label>
                <input class = 'inputs' type = 'text', name = 'platform', placeholder='Platform Name' required />

                <label for = 'username'>Username</label>
                <input class = 'inputs' type = 'text', name = 'username', placeholder='Username' required />

                <label for = 'password'>Password</label>
                <input class = 'inputs' type = 'text', name = 'password', placeholder='password' required />
            
                <input id = 'button' type = 'submit' value = 'Add' />
            </form>

        </div>

        <div class = 'pass-blocks'>
            <h2 class = 'title'>Passwords</h2>
            {% for block in PasswordBlocks %}
            <div class = 'password-block'>
                <p>Platform Name: {{block.platform}}</p>
                <p>Usernme: {{block.username}}</p>
                <p>Password: {{block.password}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>