{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
        <title>Login</title>
    </head>
    <body>

        <!-- {% block content %} -->
        <div class = 'container'>
            <h1 class = 'title'>Login</h1>
            <p>{{ message }}</p>

            <form method = 'POST' class = 'form'>
                {% csrf_token %}
                
                <label for = 'username'>Username</label>
                <input class = 'inputs', placeholder = 'username' name = 'username' required />
                <label for = 'password'>Password</label>
                <input class = 'inputs', placeholder = 'password' type = 'password' name = 'password' required />
                <input id = 'button' type = 'submit' value = 'Login' />
            
            </form>
            <a href = "{% url 'signup' %}">Create New Account</a>
            <a href = "">Forgot Password?</a>
        </div>
        <!-- {% endblock %} -->
    </body>
</html>